/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Raleway", sans-serif;
  color: #0d1e2d;
}

body.index-page {
  background-color: black;
  color: white;
}

body{
  background-image: url(/assets/img/lobo_bg.png);
  background-position-y: bottom;
  background-size: 30%;
  background-position-x: right;
  background-repeat: no-repeat;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.index-page a:hover {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: "Raleway", sans-serif;
}

.raleway-heading {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.section {
  padding: 4rem 0;
}

.section-variable-height{
  padding-top: 7rem;
  height: 730px;
}

.filters a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.index-page .filters a {
  color: #fff;
}

.filters a:hover,
.filters a:focus,
.filters a:active {
  text-decoration: none;
}

.filters a:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.index-page .filters a:hover:before {
  background-color: #fff;
}

.filters a.active {
  color: #5D84E9;
}

.bg-brand-blue{
  background-color: #4982fc;
}

.bg-blue-light{
  background-color: #0d6efd05;
}

.brand-yellow{
  background-color: #f8fb0e;
}

.brand-blue{
  color: #4982fc;
}

.filters a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.index-page .filters a.active:before {
  background-color: #fff;
}

.card {
  /* border-radius: 14px !important;  */
  border: none;
  /* margin-bottom: 30px; */
}

.item .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.item .item-wrap img {
  transition: 0.3s transform ease;
  transform: scale(1);
}

.work-info{
  height: 115px;
}

.item .item-wrap>.work-info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  /* color: #fff; */
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: 0.3s all ease;
}

.item .item-wrap>.work-info h3 {
  font-size: 20px;
  margin-bottom: 0;
  color: #000;
}

.index-page .item .item-wrap>.work-info h3 {
  color: #fff;
}

.item .item-wrap>.work-info span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.item .item-wrap:hover {
  text-decoration: none;
}

.item .item-wrap:hover img {
  transform: scale(1.05);
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover .work-info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.img-size{
  width: 100%; /* You can set the dimensions to whatever you want */
  height: 450px;
  object-fit: cover;
}

.testimonial-wrap {
  padding: 50px 50px 80px 50px;
  background: #eceff2;
}

.testimonial-wrap .testimonial {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.testimonial-wrap .testimonial img {
  border-radius: 50%;
  width: 120px;
  margin: 0 auto 30px auto;
}

.testimonial-wrap .testimonial blockquote p {
  font-size: 20px;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}

.heading {
  font-size: 28px;
}

.readmore {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  transition: 0.2s all ease;
  font-weight: 700;
}

.readmore:active,
.readmore:focus,
.readmore:hover {
  outline: none;
}

.readmore:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
}

.index-page .readmore:hover {
  color: #ffffff;
  background: #000000;
}

.testimonials-slider .swiper-pagination {
  margin-top: -60px;
  position: relative;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(13, 30, 45, 0.3);
  opacity: 1;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgba(13, 30, 45, 0.6);
}

.sticky-content {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
}

.list-line li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.list-line li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.7rem;
  width: 10px;
  height: 2px;
  background: #000;
}

.index-page .list-line li:before {
  background: #fff;
}

.form-control {
  border-radius: 0;
  background: #f8f9fa;
  border: 1px solid transparent;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.form-control:active,
.form-control:focus {
  background: #eff1f4;
  outline: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.custom-progress {
  height: 7px;
  border-radius: 0;
}

.custom-progress .progress-bar {
  background: #000;
}

.index-page .custom-progress .progress-bar {
  background: #fff;
}

/* Services */
.services i {
  font-size: 40px;
}

.services h4 {
  padding-top: 10px;
}

/* Contact Form */
.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .error-message br+br {
  margin-top: 25px;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

/* Add custom styles here if needed */

/* Add a zoom cursor when hovering over images */
.img-zoom {
  cursor: zoom-in;
}

/* Apply styles to the zoomed image */
.zoomed-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.zoomed-image img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* Custom Navmenu */
.custom-navmenu {
  background: #f8fb0e;
}

.custom-navmenu .custom-menu,
.custom-navmenu .custom-menu li {
  padding: 0;
  margin-right: 25px;
  list-style: none;
}

.custom-navmenu .custom-menu li {
  margin-bottom: 0;
  font-size: 24px;
}

.custom-navmenu .custom-menu li a {
  color: #000000;
  padding: 15px 0 !important;
}

.custom-navmenu .custom-menu li a:hover {
  text-decoration: none;
}

.custom-navmenu .custom-menu li.active a {
  text-decoration: underline;
}

.custom-navmenu h3 {
  font-size: 20px;
  color: #000000;
}

.custom-navmenu p {
  color: rgba(0, 0, 0, 0.6);
}

.custom-navmenu a {
  color: rgba(0, 0, 0, 0.7);
}

.custom-navmenu a:hover {
  color: #4982fc;
}

/* Custom Navbar */
.custom-navbar {
  padding-top: 50px;
  width: 100%;
}

.nav-item{
  font-size: 18px;
  margin-right: 20px;
}

@media (max-width: 780px) {
  .custom-navbar>.container {
    padding-right: 0;
    padding-left: 0;
  }
  .scribble{
    display: none;
  }
  .not-on-phone{
    display: none;
  }
}

.custom-navbar .navbar-brand {
  font-size: 1.7rem;
}

/* Burger */
.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
}

.burger:before,
.burger span,
.burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}

.index-page .burger:before,
.index-page .burger span,
.index-page .burger:after {
  background: #fff;
}

.burger:before,
.burger:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.burger:before {
  top: 4px;
}

.burger span {
  top: 15px;
}

.burger:after {
  top: 26px;
}

/* Hover */
.burger:hover:before {
  top: 7px;
}

.burger:hover:after {
  top: 23px;
}

/* Click */
.burger.active span {
  opacity: 0;
}

.burger.active:before,
.burger.active:after {
  top: 40%;
}

.burger.active:before {
  transform: rotate(45deg);
}

.burger.active:after {
  transform: rotate(-45deg);
}

.burger:focus {
  outline: none;
}

.select-text{
  position: relative;
  z-index: 2;
  pointer-events: grab;
}
.scribble{
  position: absolute;
  pointer-events: grab;
}

.scribble-1{
  position: absolute;
  z-index: 1;
  left: 35%;
}

.scribble-2{
  position: absolute;
  z-index: 1;
  top: 52%;
  left: 20%;
}

.scribble-3{
  position: absolute;
  z-index: 1;
  top: 68%;
  left: 66%;
}

.scribble-4{
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 9%;
}

.scribble-5{
  position: absolute;
  z-index: 1;
  top: 54%;
  left: 47.5%;
  /* right: -10%; */
}

/* .text-with-svg{
  position: relative;
  background: url('/assets/img/4.svg') no-repeat center center;
  background-size: 40px;
  background-position: left;
} */
/* Productive Page */

#productive-card:hover{
  transition: background-color 0.3s ease;
  background-color: #dde3ec;
}

#chl-card:hover{
  transition: background-color 0.3s ease;
  background-color: #cce4dd;
}

#mkc-card:hover{
  transition: background-color 0.3s ease;
  background-color: #D1C7F3;
}

.product-primary{
  color: #F2B991;
}
.bg-product-primary{
  background-color: #F2B991;
}

.productive-secondary{
  color: #042444;
}

.productive-secondary-bg{
  background-color: #042444;
}

.productive-helper-light{
  background-color: #EDEBE9;
}

.productive-heading {
  font-size: 52px;
  color: #AAA5A0; 
  font-weight: 800;
  line-height: 44px; /* 84.615% */
  letter-spacing: 1.04px; 
}


@media screen and (min-width: 900px) {
  .ps-8{
    padding-left: 10rem;
  }
  .padding-diag-col-2 {
      padding-top: 200px;
  }
  .padding-diag-col-3 {
    padding-top: 300px;
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 0 0 4rem 0;
}

.footer a {
  color: #000;
}

.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  color: #0d1e2d;
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: #000;
}

.project-card {
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
  margin: 0;
  border-radius: 16px;
  height: 100%; /* Ensure the card takes up the full height of its parent */
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire card area while maintaining aspect ratio */
  transition: transform 0.5s ease;
}

.project-card:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-info {
  text-align: left;
  /* color: #fff; */
}

.project-info h2 {
  margin-bottom: 5px;
  font-size: 34px;
}

.project-info span {
  font-size: 16px;
  /* color: #ddd; */
}


/* Container for the entire project page */
.project-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Hero Section Styles */
.hero-section {
  position: relative;
  text-align: left;
  margin-bottom: 60px; /* Create space below the hero section */
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.hero-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  max-width: 600px;
}

.hero-text h1 {
  font-family: "Raleway", sans-serif; /* Keep consistent with existing heading styles */
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-text .subheading {
  font-size: 1.2rem;
  color: #ddd;
}

/* Content Section Styles */
.content-section {
  margin-bottom: 50px; /* Space between sections */
}

.content-block {
  margin-bottom: 40px; /* Space between content blocks */
}

.content-block h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0d1e2d;
}

.content-block p, .content-block ul {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.content-block ul {
  list-style: disc inside;
  padding-left: 20px;
}

.content-block img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px; /* Add space below images */
}

a:hover {
  color: #333; /* Hover effect for links */
  text-decoration: underline;
}
